@import "../../theme/dist/style.css";

$color: "white", "blackAlpha", "black", "gray", "red", "orange", "yellow", "green", "teal", "blue", "cyan", "purple";
$prefix: "illa";

.tag-container {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

//color outline
.tag-outline-#{$color} {
  border-radius: 1px;
  border: solid 1px var(#{'--'$prefix'-'$color'-01'});
  color: var(#{'--'$prefix'-'$color'-01'});
}

.tag-outline-gray {
  border-radius: 1px;
  border: solid 1px var(#{'--'$prefix'-'$color'-08'});
  color: var(#{'--'$prefix'-'$color'-02'});
}

//color fill
.tag-fill-#{$color} {
  background-color: var(#{'--'$prefix'-'$color'-01'});
  color: var(--illa-white-01);
  border-radius: 1px;
}

//color light
.tag-light-#{$color} {
  border-radius: 1px;
  background-color: var(#{'--'$prefix'-'$color'-06'});
  color: var(#{'--'$prefix'-'$color'-01'});
}

.tag-light-gray {
  border-radius: 1px;
  background-color: var(#{'--'$prefix'-'$color'-08'});
  color: var(#{'--'$prefix'-'$color'-02'});
}

// size
.tag-size-large {
  font-size: 12px;
  padding: 5px 8px;
}

.tag-size-middle {
  font-size: 12px;
  padding: 3px 8px;
}

.tag-size-small {
  font-size: 12px;
  padding: 1px 8px;
}