/*text size*/

@mixin hor {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.tag-text-large {
    font-size: 14px;
    padding: 5px 8px;
    @include hor;
}

.tag-text-small {
    font-size: 14px;
    padding: 1px 8px;
}

.tag-text-middle {
    font-size: 14px;
    padding: 3px 8px;
}