:root {
    --color-light-blue-blue-6: #1890ff;
    --color-grey-black-2: rgba(0, 0, 0, 0.02);
    --color-grey-black-6: rgba(0, 0, 0, 0.06);
    --color-grey-white-100: #fff;
    --color-grey-black-45: rgba(0, 0, 0, 0.45);
    --color-grey-black-65: rgba(0, 0, 0, 0.65);
    --color-grey-black-25: rgba(0, 0, 0, 0.25);
    --gray-08: rgba(0, 0, 0, 0.88);
    --gray-07: rgba(0, 0, 0, 0.64);
    --gray-06: rgba(0, 0, 0, 0.4);
    --gray-05: rgba(0, 0, 0, 0.24);
    --gray-04: rgba(0, 0, 0, 0.16);
    --gray-03: rgba(0, 0, 0, 0.12);
    --gray-02: rgba(0, 0, 0, 0.08);
    --gray-01: rgba(0, 0, 0, 0.04);
    --grayblue-06: #454d5a;
    --grayblue-05: #81868f;
    --grayblue-04: #cbcdd1;
    --grayblue-03: #e2e4e6;
    --grayblue-02: #f3f5f7;
    --grayblue-01: #f9fafb;
    --gray-09: #000;
    --blue-01: #2a3ed6;
    --blue-02: #3e53eb;
    --blue-03: #546dff;
    --blue-04: #7691ff;
    --blue-05: #aebeff;
    --blue-06: #d2dbff;
    --blue-07: #f1f4ff;
    --purple-01: #833fdf;
    --purple-02: #8e4be0;
    --purple-03: #a55bf5;
    --purple-04: #c87ffa;
    --purple-05: #dfb2fc;
    --purple-06: #f0d6fe;
    --purple-07: #fbf2fe;
}